:root
{
    --grey: #dad8db;
    --lightGreen: #97Bc62ff;
    --green: #2c5f2d;
    --nearBlack: #101820;
    --screenheight: 100vh;
    --screenwidth: 100vw;
    --font: "Clear Sans", "Helvetica Neue", Arial, sans-serif;;
}

body
{
    margin:0;
}

.level
{
    position: absolute;
    left: 5vw;
    top:5vh;
    font-size: 1.25rem;
}

.help
{
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 15vh;
    height: 5vh;
    font-family: var(--font);
    font-weight: 600;

}

#testingWord
{
    top: 10vh;
    position: absolute;
    width: 50vh;
    left:37.5vw;
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    font-family: var(--font);
    color: var(--green);
}


#tileBoard
{
    width: 50vh;
    margin: 0;
    height: 50vh;
    /* Both these properties centre the element*/
    position: absolute;
    left:37.5vw;
    top:25vh;
    display: flex;
    flex-wrap: wrap;
}

#tileBoard>* {
    flex: 1 1 8vh;
}

.player1tile {
    background-color: var(--grey);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player2tile {
    background-color: var(--lightGreen);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player3tile {
    background-color: var(--green);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player4tile {
    background-color: var(--nearBlack);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

#answer-pane
{
    resize: none;
    position: absolute;
    top:15vh;
    left:37.5vw;
    width: 50vh;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.75rem;
    text-align: center;
    font-family: var(--font);
    display: none;
}

#timer
{
    position: absolute;
    top:5vh;
    left:37.5vw;
    width: 50vh;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--font);
}

textarea:invalid {
    border: 2px dashed red;
  }