



/* This is for items common to all pages. */




:root
{
    --grey: #dad8db;
    --lightGreen: #97Bc62ff;
    --green: #2c5f2d;
    --nearBlack: #101820;
    --errorColour: #B00020;
    --font: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body
{
    margin:0;
    width: 100vw;
    height: 100%;
}

main
{
    margin:0;
    width: 100vw;
    height: 100vh; 
}

button {
    display: inline-block;
    border: none;
    margin: 0px;
    text-decoration: none;
    background: var(--nearBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #ffffff;
    font-family: var(--font);
    font-weight: 600;
}

button:hover,
button:focus {
    background: var(--grey);
}


button:active {
    transform: scale(0.99);
}

img
{
    max-width: 100%;
    max-height: 100%;
}

#Title
{
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: var(--large-font-size);
    position: absolute;
    font-size: var(--large-font-size);
    text-align: center;
    font-family: var(--font);
    color: var(--green);
    margin: 5px;
    border: 0vh;
}

h2
{
    font-size: var(--medium-font-size);
    font-weight: 500;
    text-align: center;
    font-family: var(--font);
    color: var(--lightGreen);
    margin: 0;
    border: 0vh;
}

textarea {
    resize: none;
    height: calc(var(--medium-font-size) + 0.5 vw);
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: var(--medium-font-size);
    font-family: var(--font);
    overflow: hidden;
}





/* This is for items on the home page. */




#homePage
{
    margin:0;
    width: 100vw;
    height: 100vh; 
}

#Join-button
{
    position: absolute;
    top: 38vh;
    left: calc((100vw - var(--big-button-width))/2);
    width: var(--big-button-width);
    height: var(--big-button-height);
    font-size: var(--medium-font-size);
    font-weight: 600;
}

#Host-button
{
    position: absolute;
    top: calc(38vh + var(--divider) + var(--big-button-height));
    left: calc((100vw - var(--big-button-width))/2);
    width: var(--big-button-width);
    height: var(--big-button-height);
    font-size: var(--medium-font-size);
    font-weight: 600;
}

#Leaderboard-button
{
    position: absolute;
    top: calc(38vh + + var(--divider) + (2 * var(--big-button-height)));
    left: calc((100vw - var(--big-button-width))/2);
    width: var(--big-button-width);
    height: var(--big-button-height);
    font-size: var(--medium-font-size);
    font-weight: 600;
}




/* This is for the "how to play", "support us" and "home" buttons. */




#help-button
{
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: var(--small-button-width);
    height: var(--small-button-height);
    font-size: var(--small-font-size);
}

#OK-button
{
    width: var(--small-button-width);
    height: var(--small-button-height);
    position: absolute;
    display: block;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    font-size: var(--small-font-size);
}

#help-response-box
{
    width: calc( 2* var(--small-button-width));
    height: 21.5vh;
    /* Both these properties centre the element*/
    position: absolute;
    top: 16vh;
    right: 5vw;
    border-radius: 10%;
    background-color: var(--grey);
    display: block;
    align-items: center;
    justify-content: center;
    display: none;
}

#help-response-text
{
    font-family: var(--font);
    font-size: var(--small-font-size);
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: var(--nearBlack);
}

#support-us-button
{
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: var(--small-button-width);
    height: var(--small-button-height);
    font-size: var(--small-font-size);
}

#home-button
{
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: var(--small-button-width);
    height: var(--small-button-height);
    font-size: var(--small-font-size);
}




/* This is for items on the "support us" page. */




.supportUsText
{
    width: 50vw;
    font-size: 2.5vw;
    font-family: var(--font);
    text-align: center;
    position: relative;
    left: 25vw;
    top: 28vh;
    margin: 5px;
}

.supportUsButtons
{
    height: 5vh;
    width: 185px;
    position: relative;
    left: calc(50vw - 91.5px) ;
    top: 28vh;
    margin: 10px;
}

.supportUsTitles
{
    margin: 20px;
    width: 50vw;
    position: relative;
    left: 25vw;
    top: 28vh;
}




/* This is for items on the game page. */




#gameCodeBox
{
    position: fixed;
    top: calc(5vh + var(--small-button-height) + (var(--divider)*2));
    left: 5vw;
    border-radius: 5px;
    background-color: var(--grey);
    display: inline-block;
    height: var(--medium-button-height);
    width: var(--small-button-width);
}

#gameCodeBoxHeader
{
    font-family: var(--font);
    font-size: var(--small-font-size);
    margin: 3px;
    text-align: center;
    font-weight: bold;
    color: var(--nearBlack);
    width: var(--small-button-width);
}

#gameCode
{
    position: fixed;
    font-family: var(--font);
    font-size: var(--medium-font-size);
    margin: 3px;
    text-align: center;
    font-weight: bold;
    color: var(--green);
    width: var(--small-button-width);
}

#everyone-has-joined-button
{
    position: absolute;
    bottom: calc(var(--divider)*12 + var(--tileboard));
    left: calc(50vw - (var(--tileboard)/2));
    width: var(--medium-button-width);
    height: var(--medium-button-height);
}

#make-this-game-public-button
{
    position: absolute;
    bottom: calc(var(--divider)*12 + var(--tileboard));
    left: calc(50vw + var(--divider));
    width: var(--medium-button-width);
    height: var(--medium-button-height);
}

#testingWord
{
    position: absolute;
    width: var(--tileboard);
    left: calc(50vw - (var(--tileboard)/2));
    font-size: var(--medium-font-size);
    font-weight: 900;
    text-align: center;
    font-family: var(--font);
    color: var(--green);
    margin: 0;
    top: calc(5vh + var(--small-button-height)*1.5 + (var(--divider)*4) + var(--medium-button-height));
}


#tileBoard
{
    width: var(--tileboard);
    margin: 0;
    height: var(--tileboard);
    /* Both these properties centre the element*/
    position: absolute;
    left: calc(50vw - (var(--tileboard)/2));
    bottom: calc(var(--divider)*4);
    display: grid;
    grid-template-columns: repeat(6, auto[col-start]);
    grid-template-rows: repeat(6, auto[row-start]);
}

.player1tile {
    background-color: var(--grey);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player2tile {
    background-color: var(--lightGreen);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player3tile {
    background-color: var(--green);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player4tile {
    background-color: var(--nearBlack);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

#answer-pane
{
    position: absolute;
    bottom: calc(var(--divider)*8 + var(--tileboard));
    left: calc(50vw - (var(--tileboard)/2));
    width: var(--tileboard);
    text-align: center;
    display: none;
}

#timer
{
    position: absolute;
    bottom: calc(var(--divider)*18 + var(--tileboard) + (var(--medium-button-height)*2));
    left: calc(50vw - (var(--tileboard)/2));
    width: var(--tileboard);
    text-align: center;
    font-size: var(--small-font-size);
    font-family: var(--font);
}

.playerArrows {
    width: var(--arrows);
    height: var(--arrows);
    display: none;
}

#player1-arrow
{
    position: absolute;
    left: calc(50vw - (var(--tileboard)/2) - var(--arrows) - var(--divider));
    bottom: calc(var(--divider)*4 + var(--tileboard) - var(--arrows));
}

#player2-arrow
{
    right: calc(50vw - (var(--tileboard)/2) - var(--arrows) - var(--divider));
    bottom: calc(var(--divider)*4 + var(--tileboard) - var(--arrows));
    position: absolute;
}

#player3-arrow
{
    left: calc(50vw - (var(--tileboard)/2) - var(--arrows) - var(--divider));
    bottom: calc(var(--divider)*4);
    position: absolute;
}

#player4-arrow
{
    right: calc(50vw - (var(--tileboard)/2) - var(--arrows) - var(--divider));
    bottom: calc(var(--divider)*4);
    position: absolute;
}

#restart-game-button
{
    position: fixed;
    display: none;
    bottom: calc(var(--divider)*12 + var(--tileboard));
    left: calc(50vw - (var(--medium-button-width)/2));
    width: var(--medium-button-width);
    height: var(--medium-button-height);
}

#winnersBox
{
    position: fixed;
    top: 5vh;
    right: 15vw;
    border-radius: 5px;
    background-color: var(--grey);
    display: none;
}

#draw {
    display: none;
    text-align: center;
}

.winnersBoxHeaders
{
    font-family: var(--font);
    font-size: 1.5rem;
    margin: 3px;
    text-align: left;
    font-weight: bold;
    color: var(--nearBlack);
}

.winnersBoxPlayers
{
    font-family: var(--font);
    font-size: 1.5rem;
    margin: 3px;
    text-align: left;
    font-weight: bold;
    color: var(--lightGreen);
    display: inline;
}

#correctAnswer {
    position: absolute;
    bottom: calc(var(--divider)*10 + var(--tileboard) + var(--medium-font-size));
    left: calc(50vw - (var(--tileboard)/2));
    width: var(--tileboard);
}

.allLives {
    display: none;
}

.life {
    width: var(--life);
    height: var(--life);
}

#player1lives {
    left: calc(50vw - (var(--tileboard)/2) - (var(--life)*5) - var(--divider));
    bottom: calc(var(--divider)*4 + var(--tileboard) - var(--life));
    position: absolute;
}

#player2lives {
    right: calc(50vw - (var(--tileboard)/2) - (var(--life)*5) - var(--divider));
    bottom: calc(var(--divider)*4 + var(--tileboard) - var(--life));
    position: absolute;
}

#player3lives {
    left: calc(50vw - (var(--tileboard)/2) - (var(--life)*5) - var(--divider));
    bottom: calc(var(--divider)*4);
    position: absolute;
}

#player4lives {
    right: calc(50vw - (var(--tileboard)/2) - (var(--life)*5) - var(--divider));
    bottom: calc(var(--divider)*4);
    position: absolute;
}

#player5lives {

    left: calc(50vw - (var(--life)*5/2));
    position: absolute;
    top: calc(5vh + var(--small-button-height)*2.5 + (var(--divider)*4) + var(--medium-button-height));
}



/* This is for items on the hosting page. */




#Browse-button {
    position: absolute;
    top: 38vh;
    left: calc((100vw - var(--big-button-width))/2);
    width: var(--big-button-width);
    height: var(--big-button-height);
    font-size: var(--medium-font-size);
    font-weight: 600;
}

#Create-button {
    position: absolute;
    top: calc(38vh + var(--divider) + var(--big-button-height));
    left: calc((100vw - var(--big-button-width))/2);
    width: var(--big-button-width);
    height: var(--big-button-height);
    font-size: var(--medium-font-size);
    font-weight: 600;
}




/* This is for items on the creating a quiz page. */




#createQuizPage{
    position: relative;
}

#create-and-play-button {
    position: absolute;
    top: calc(50vh - var(--medium-button-height) - var(--medium-font-size) - (var(--divider)*2));
    left: calc(50vw + var(--divider));
    width: var(--medium-button-width);
    height: var(--medium-button-height);
    font-size: var(--small-font-size);
}

#setQuizTitle {
    position: absolute;
    top: 50vh;
    left: 20vw;
    width: 60vw;
    text-align: left;
    font-weight: 600;
}

#createQuizError {
    position: absolute;
    top: calc(50vh - var(--medium-font-size));
    left: 20vw;
    width: 60vw;
    height: var(--medium-font-size);
    text-align: center;
    font-weight: 600;
    font-size: var(--small-font-size);
    font-family: var(--font);
    color: var(--errorColour);
    margin: 0;
    border: 0vh;
    display: none;
}

#new-questions-list {
    position: absolute;
    top: 59vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    width: calc(30vw - 5px);

    text-align: left;
}

#new-answers-list {
    position: absolute;
    top: 59vh;
    left: calc(50vw + 5px);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(30vw - 5px);
}

#new-questions-list > * {
    height: calc(var(--medium-font-size) + var(--divider));
    font-size: var(--medium-font-size);
    overflow: auto;
}

#new-answers-list > * {
    height: calc(var(--medium-font-size) + var(--divider));
    font-size: var(--medium-font-size);
    overflow: auto;
}

#add-new-qa-button {
    width: var(--medium-button-width);
    height: var(--medium-button-height);
    font-size: var(--small-font-size);
    left: calc(50vw - var(--divider) - (var(--medium-button-width)));
    position: absolute;
    top: calc(50vh - var(--medium-button-height) - var(--medium-font-size) - (var(--divider)*2));
}




/* This is for items on the joining a game page. */




#joinGameError{
    position: absolute;
    top: calc( 50vh - var(--medium-button-height) - var(--divider));
    left: 20vw;
    width: 60vw;
    height: var(--medium-font-size);
    text-align: center;
    font-weight: 600;
    font-size: var(--small-font-size);
    font-family: var(--font);
    color: var(--errorColour);
    margin: 0;
    border: 0vh;
    display: none;
}

#publicGameError {
    position: absolute;
    top: 80vh;
    left: 20vw;
    width: 60vw;
    height: var(--medium-font-size);
    text-align: center;
    font-weight: 600;
    font-size: var(--small-font-size);
    font-family: var(--font);
    color: var(--errorColour);
    margin: 0;
    border: 0vh;
    display: none;
}

#gameCodeInput
{
    position: absolute;
    top: calc( 50vh - (var(--medium-button-height)*3/4));
    left: calc( 50vw - (var(--medium-button-width)/2) );
    width: var(--medium-button-width);
    font-weight: 600;
    text-align: center;
}

#joinGameCodeButton {
    position: absolute;
    top: 50vh;
    left: calc( 50vw - (var(--medium-button-width)/2) );
    width: var(--medium-button-width);
    height: var(--medium-button-height);
    font-size: var(--medium-font-size);
    font-weight: 400;
}

#subTitle1
{
    position: absolute;
    top: 32.5vh;
    left: 25vw;
    width: 50vw;
    height: var(--medium-font-size);
}

#subTitle2
{
    position: absolute;
    top: 70vh;
    left: 25vw;
    width: 50vw;
    height: var(--medium-font-size);
}

#listPublicGames
{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25vw;
    top: 80vh;
    left: 37.5vw;
}

.publicGame
{
    margin: 5px;
    width: 25vw;
    height: 10vh;
}




/* This is for items on the browsing page. */




#listOfQuizzes {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--big-button-width);
    top: 35vh;
    left: calc(50vw - (var(--big-button-width)/2));
}

.quiz {
    margin: var(--divider);
    height: var(--medium-button-height);
    justify-content: left;
    font-size: var(--small-font-size);
    
}




/* This is for items on the page where you can view the contents of a quiz. */




#viewQuizPage{
    position: relative;
}

#play-button {
    position: absolute;
    top: calc(32.5vh + var(--large-font-size) + (var(--divider)*3));
    left: calc(50vw - (var(--medium-button-width)/2));
    width: var(--medium-button-width);
    height: var(--medium-button-height);
    font-size: var(--small-font-size);
}

#viewQATitle {
    position: absolute;
    top: 32.5vh;
    left: 25vw;
    width: 50vw;
    text-align: center;
}

#QAlist {
    position: absolute;
    top: calc(32.5vh + var(--large-font-size) + var(--medium-button-height) + (var(--divider)*10));
    left: 10vw;
    display: grid;
    grid-template-columns: repeat(2, 40vw[col-start]);

    font-size: 1.25rem;
    font-family: var(--font);
    text-align: left;
}

#view-questions-list {
    font-weight: 600;
    color: var(--lightGreen);

}

#view-answers-list {
    color: var(--nearBlack);
}

.viewQ {
    height: 20px;
    overflow: auto;
    border: solid;
    color: var(--lightGreen);
    border-radius: 5px;
    padding: 1em;
    margin: 2px;
}

.viewA {
    height: 20px;
    overflow: auto;
    border: solid;
    color: var(--nearBlack);
    border-radius: 5px;
    padding: 1em;
    margin: 2px;
}




/* MEDIA QUERIES */




/* PORTRAIT */
@media (orientation: PORTRAIT) {
    :root {
        --small-font-size: 2.5vw;
        --medium-font-size: 4vw;
        --large-font-size: 6vw;
        --small-button-width: 30vw;
        --small-button-height: 10vw;
        --medium-button-width: 24vw;
        --medium-button-height: 10vw;
        --big-button-width: 80vw;
        --big-button-height: 10vw;
        --divider: 0.5vw;
        --tileboard: 50vw;
        --arrows: 12vw;
        --life: 25px;
    }

}

/* LANDSCAPE */
@media (orientation: LANDSCAPE) {
    :root {
        --small-font-size: 1.25vw;
        --medium-font-size: 2.75vw;
        --large-font-size: 4vw;
        --small-button-width: 15vh;
        --small-button-height: 5vh;
        --medium-button-width: 24vh;
        --medium-button-height: 10vh;
        --big-button-width: 50vw;
        --big-button-height: 10vh;
        --divider: 0.5vh;
        --tileboard: 50vh;
        --arrows: 12vh;
        --life: 25px;
    }
}

/* mobile devices */
@media (max-width: 480px) {
}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* extra large screens */
@media (min-width: 1201px) {
}
