



/* This is for items common to all pages. */




:root
{
    --grey: #dad8db;
    --lightGreen: #97Bc62ff;
    --green: #2c5f2d;
    --nearBlack: #101820;
    --screenheight: 100vh;
    --screenwidth: 100vw;
    --font: "Clear Sans", "Helvetica Neue", Arial, sans-serif;;
}

body
{
    margin:0;
    width: 100vw;
    height: 100vh;
}

main
{
    margin:0;
    width: 100vw;
    height: 100vh; 
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: var(--nearBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    color: #ffffff;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;
}

button:hover,
button:focus {
    background: var(--grey);
}


button:active {
    transform: scale(0.99);
}

img
{
    max-width: 100%;
    max-height: 100%;
}

#accessbility-feedback-email
{
    bottom: 2.5vh;
    width: 75vh;
    position: absolute;
    margin: 0;
    left: calc(50vw - 37.5vh);
    font-family: var(--font);
    font-size: 1rem;
    text-align: center;
    color: var(--nearBlack);
}

#Title
{
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: 10vh;
    position: absolute;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    font-family: var(--font);
    color: var(--green);
    margin: 0;
    border: 0vh;
}





/* This is for items on the home page. */




#homePage
{
    margin:0;
    width: 100vw;
    height: 100vh; 
}

#Join-button
{
    position: absolute;
    top: 38vh;
    left: 25vw;
}

#Host-button
{
    position: absolute;
    top: 50vh;
    left: 25vw;
}

#Leaderboard-button
{
    position: absolute;
    top: 62vh;
    left: 25vw;
}

.buttons
{
    width: 50vw;
    height: 10vh;
    font-size: 1.75rem;
    font-weight: 600;
}



/* This is for items on the game page. */




#help-button
{
    position: fixed;
    top: 5vh;
    right: 5vw;
    width: 15vh;
    height: 5vh;
}

#everyone-has-joined-button
{
    position: fixed;
    top:20vh;
    left:37.5vw;
    width: 24vh;
    height: 10vh;
}

#make-this-game-public-button
{
    position: fixed;
    top:20vh;
    left: calc(37.5vw + 26vh);
    width: 24vh;
    height: 10vh;
}

#OK-button
{
    width: 15vh;
    height: 5vh;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

#help-response-box
{
    width: 30vh;
    height: 20vh;
    /* Both these properties centre the element*/
    position: absolute;
    top: 15vh;
    right: 5vw;
    border-radius: 10%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#help-response-text
{
    font-family: var(--font);
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: var(--nearBlack);
}

#testingWord
{
    top: 10vh;
    position: absolute;
    width: 50vh;
    left:37.5vw;
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    font-family: var(--font);
    color: var(--green);
    margin: 0;
}


#tileBoard
{
    width: 50vh;
    margin: 0;
    height: 50vh;
    /* Both these properties centre the element*/
    position: absolute;
    left:37.5vw;
    top:35vh;
    display: flex;
    flex-wrap: wrap;
}

#tileBoard>* {
    flex: 1 1 14%;
}

.player1tile {
    background-color: var(--grey);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player2tile {
    background-color: var(--lightGreen);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player3tile {
    background-color: var(--green);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

.player4tile {
    background-color: var(--nearBlack);
    border-radius: 10%;
    border-width: 0.05vh; 
    border-style: solid; 
    border-color: white;
}

#answer-pane
{
    resize: none;
    position: absolute;
    top: 22.5vh;
    left:37.5vw;
    width: 50vh;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.75rem;
    text-align: center;
    font-family: var(--font);
    display: none;
}

#timer
{
    position: absolute;
    top:5vh;
    left:37.5vw;
    width: 50vh;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--font);
}

.playerArrows {
    width: 12vh;
    height: 12vh;
    display: none;
}

#player1-arrow
{
    left: calc(37vw - 12vh);
    top: 35.5vh;
    position: absolute;
}

#player2-arrow
{
    left: calc(38vw + 50vh);
    top: 35.5vh;
    position: absolute;
}

#player3-arrow
{
    left: calc(37vw - 12vh);
    top: 60.5vh;
    position: absolute;
}

#player4-arrow
{
    left: calc(38vw + 50vh);
    top: 60.5vh;
    position: absolute;
}




/* This is for items on the hosting page. */




#Browse-button {
    position: absolute;
    top: 38vh;
    left: 25vw;
}

#Create-button {
    position: absolute;
    top: 50vh;
    left: 25vw;
}




/* This is for items on the joining with a game code page. */





#gameCodeInput
{
    resize: none;
    position: absolute;
    top: calc(50vh - 4.5rem);
    left: 37.5vw;
    width: 25vw;
    height: 2.25rem;

    border-radius: 5px;
    border: 1px solid #ccc;
    outline: 0px;
    margin: 0vh;

    font-weight: 900;
    text-align: center;
    font-size: 1.75rem;
    font-family: var(--font);
}

#joinGameButton {
    position: absolute;
    top: 50vh;
    left: 37.5vw;
    width: 25vw;
    height: 10vh;
    font-size: 1.75rem;
    font-weight: 600;
}




/* This is for items on public games page. */




#ListOfQuizzes
{
    width: 37.5vw;
    height:100vh;
}